In [2]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('data/simulated_product_usage_data.csv')

In [8]:
data.head()

,customer_id,tenure_months,plan_type,satisfaction_score,uses_new_feature,login_frequency_per_week,last_login_date,feature_A_usage,feature_B_usage,feature_C_usage,feature_D_usage,feature_E_usage,business_age_years,industry,location_type
0,1,39,Free,4.588943,0,1,2025-05-10 04:34:20.683625,5.491559,4.018597,0,0.534074,5.616507,20,Technology,Urban
1,2,52,Basic,5.062265,0,3,2025-05-07 04:34:20.683662,5.712754,5.206301,1,0.628274,5.218925,14,Retail,Urban
2,3,29,Enterprise,7.872752,0,2,2025-05-12 04:34:20.683666,1.114746,2.048393,0,0.459655,5.550395,14,Retail,Suburban
3,4,15,Basic,7.081717,0,2,2025-05-23 04:34:20.683670,3.797455,8.106733,0,0.508047,2.512840,45,Finance,Urban
4,5,43,Basic,6.894750,0,1,2025-05-11 04:34:20.683689,2.830069,5.443132,0,0.974164,3.680501,28,Technology,Urban

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               10000 non-null  int64
 1   tenure_months             10000 non-null  int64
 2   plan_type                 10000 non-null  object
 3   satisfaction_score        10000 non-null  float64
 4   uses_new_feature          10000 non-null  int64
 5   login_frequency_per_week  10000 non-null  int64
 6   last_login_date           10000 non-null  object
 7   feature_A_usage           10000 non-null  float64
 8   feature_B_usage           10000 non-null  float64
 9   feature_C_usage           10000 non-null  int64
 10  feature_D_usage           10000 non-null  float64
 11  feature_E_usage           10000 non-null  float64
 12  business_age_years        10000 non-null  int64
 13  industry                  10000 non-null  object
 14  location_type             10000 non-null  object
dtypes: float64(5), int64(6), object(4)
memory usage: 1.1+ MB